node_modules/

E02 - Igniting our App/Code files/dist
E02 - Igniting our App/Code files/.parcel-cache

E03 - Laying the foundation/Code files/.parcel-cache
E03 - Laying the foundation/Code files/dist
